<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
        {% endblock %}
    <title>Home Page</title>
</head>
<style>
    h1{text-align:center;
    }
    p{text-align:center;}
    h5{
        color:white;
    }
</style>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

<div class="position-sticky">
     <nav class="navbar navbar-expand-lg navbar-light bg-light" style="box-shadow: 0px 2px 10px black">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="#">Julian Lechner</a>
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="./">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/git">Git</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/docker">Docker</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/python">Python/Flask</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Important</a>
                            </li>
                        </ul>
                    </div>
                </nav>
</div>
<script src="carousel.js" defer></script>
<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="https://images4.alphacoders.com/985/thumb-1920-985805.png" class="d-block w-100" alt="Git Logo">
      <div class="carousel-caption d-none d-md-block">
        <h5>Git</h5>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="https://i.pinimg.com/originals/54/2c/8b/542c8b091f6c1bc3a8a1c33a71466521.jpg" class="d-block w-100" alt="Python Logo">
      <div class="carousel-caption d-none d-md-block">
        <h5>Python</h5>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://wallpaperaccess.com/full/2982327.jpg" class="d-block w-100" alt="Docker Logo">
      <div class="carousel-caption d-none d-md-block">
        <h5>Docker</h5>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="container-lg">
  <div class="row" style="padding:20px">
      <div class="col-6" style="border-left:solid #d7d9db;border-right:solid #d7d9db">
              <h1>About Me  <span class="glyphicon glyphicon-user" aria-hidden="true"></span></h1>
              <p>
                  My name is Julian Lechner, and at the time of creating this webpage, I am a Sophomore
                  student at New Jersey Institute of Technology. This webpage was created as my first
                  project for my "Building Web Applications" course! This page utilizes and goes into
                  detail about technologies such as Git, Docker, Python, and Flask.
              </p>
      </div>
      <div class="col-6" style="border-right:solid #d7d9db">
              <h1>Aspirations</h1>
              <p>
                  I'm aiming to hone my skills in the previously mentioned technologies. I want to
                  build stunning websites and brilliant user-experiences. As of 3/3/2022, I'm looking
                  forward to what I will learn and I will hopefully land an internship to gain even more
                  hands on experience in the field.
              </p>
      </div>
  </div>

</div>
</body>
</html>