<div class="position-sticky" id="includedContent">
     <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="#">Julian Lechner</a>
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="./">Homepage</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/git">Git</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/docker">Docker</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/python">Python/Flask</a>
                            </li>
                        </ul>
                    </div>
                </nav>
</div>