<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
        {% endblock %}
    <title>Python & Flask</title>
</head>
<body style="background-color:#d7d9db">
<div class="position-sticky">
     <nav class="navbar navbar-expand-lg navbar-light bg-light" style="box-shadow: 0px 2px 10px black">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="#">Julian Lechner</a>
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="./">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/git">Git</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/docker">Docker</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/python">Python/Flask</a>
                            </li>
                        </ul>
                    </div>
                </nav>
</div>

<div class="container-lg" style="background-color:white">
    <div class="row">
            <div class="col-md-8" style="border-right-style: solid;border-right-color: #d7d9db;padding:20px;">
              <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f8/Python_logo_and_wordmark.svg/2560px-Python_logo_and_wordmark.svg.png"
                   class="img-thumbnail" style="max-width:50%;display:block;margin:auto; border-style: none" alt="Git logo">
                <h1>What is Python?</h1>
                <p>
                <strong>Python</strong> is a high-level programming language with the intent
                    of emphasizing code readability. Python is very popular with machine learning
                    and, in this case, web development. Something very distinctive of Python is
                    that it makes use of indents to determine the flow of code rather than curly
                    brackets.
            </p>
              </div>
            <div class="col-md-4" style="border-left-style: solid;border-left-color:#d7d9db;padding:20px;">
                <img src="https://miro.medium.com/max/1400/1*1X0-98EiQNkwBJj2vnTTqQ.jpeg"
                class="img-thumbnail"
                alt="Python Code Image"
                style="max-width: 75%;display: block;margin: auto;">
                <p style="display: block;margin: auto;text-align: center"><i>Example of Python code</i></p>
            </div>
    </div>

    <div class="row">
            <div class="col-md-8" style="border-right-style: solid;border-right-color: #d7d9db; padding:20px;   ">
                <h1>Flask</h1>
                <p>
                    Flask is a web-development framework and module for Python.
                    It's a collection of libraries and modules
                </p>
            </div>

            <div class="col-md-4" style="border-left-style: solid;border-left-color:#d7d9db;padding:20px;">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3c/Flask_logo.svg/1200px-Flask_logo.svg.png"
                class="img-thumbnail"
                alt="Flask Logo"
                style="max-width: 100%;display: block;margin: auto;border:none">
            </div>
    </div>
</div>

</body>
</html>